<%= render partial: 'progress', locals: {
  steps: {
    'Pick Day' => 'completed',
    'Choose Slot' => 'active',
    'Customize a Meal' => 'disabled',
    'Checkout' => 'disabled'
  }}
%>
<div class="border border-gray-400 rounded p-10 m-20 my-8">
  <div>
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-16">
      <div class="mt-10 text-center lg:col-start-8 lg:col-end-13 lg:row-start-1 lg:mt-9 xl:col-start-9">
        <%= render partial: 'calendar', locals: {day: @day} %>
        <%= render partial: 'checkout_products', locals: {day: @day} %>
      </div>
    </div>
    <ol class="mt-4 divide-y divide-gray-100 text-sm leading-6 lg:col-span-7 xl:col-span-8">
      <div class="pt-5 lg:col-start-3 lg:row-end-1">
        <h2 class="sr-only">Pick your slot</h2>
        <div class="rounded-lg bg-gray-50 shadow-sm ring-1 ring-gray-900/5">
          <div class="row-span-full">
            <%= render partial: 'slots_per_day' %>
            <div class="mt-1 border-t border-gray-900/5 px-6 py-6 flex justify-center text-2xl">
              <span class="sr-only">Select a delivery window</span>
              Select a delivery window
            </div>
          </div>
        </div>
      </ol>
    </div>
  </div>
  <div class="mt-10 flex items-start justify-start">
    <a href="<%= user_root_path %>" class="ml-4 text-sm font-semibold leading-6 text-indigo-600">
      <span aria-hidden="true">&larr;</span>
      Back to home
    </a>
  </div>
