<div id="<%= dom_id order_item %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Order</p>
    <%= order_item.order_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Product</p>
    <%= order_item.product_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Quantity</p>
    <%= order_item.quantity %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Price</p>
    <%= order_item.price %>
  </div>
</div>
