<%= content_for :title, "Order Items" %>
<%= turbo_stream_from :order_items %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Order Items</h1>

      <div class="text-sm font-medium">
        <span class="text-gray-500">Sort by:</span>
        <%= sortable @order_items, :order_id, "Order", class: "text-gray-700 mr-1" %>
        <%= sortable @order_items, :product_id, "Product", class: "text-gray-700 mr-1" %>
        <%= sortable @order_items, :quantity, "Quantity", class: "text-gray-700 mr-1" %>
        <%= sortable @order_items, :price, "Price", class: "text-gray-700 mr-1" %>
      </div>
    </div>

    <%= link_to t("shared.scaffold.new.title", model: "Order Item"), new_order_item_path, class: "btn btn-white" %>
  </div>

  <%= tag.div id: ("order_items" if first_page?), class: "bg-white rounded-md shadow p-6 space-y-8" do %>
    <%= render partial: "order_items/index", collection: @order_items, as: :order_item, cached: true %>

    <div class="hidden only:flex flex-col items-center justify-between lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Order Item</p>
        <%= link_to t("shared.scaffold.new.title", model: "Order Item"), new_order_item_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
